@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* color: rgba(0,0,0,0.85); */
  color: white;
  /* background-color: rgb(229, 229, 229); */
  /* background-color: rgb(20, 20, 20); */
  background-color: black;
}

h1 {
  font-size: 1.2em;
  font-weight: 500;
  /* margin-bottom: 2.5%; */
}

h2 {
  font-size: 1.4em;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

hr {
  text-align: left;
  height: 1px;
  width: 60px;
  background-color: white;
  margin-left: 0;
}

.link {
  color: rgb(105, 143, 255);
  /* color: white; */
}
.link:hover {
  color: rgb(105, 143, 255);
  /* color: rgba(255, 255, 255, 0.5); */
  text-decoration: underline;
}

.container {
  padding-bottom: 7.5%;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
}

.footer {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  /* background-color: rgb(215, 215, 215); */
  background-color: rgb(25, 25, 25);
  font-size: 0.85em;
  text-align: center;
  position: fixed;
  bottom: 0;
}
.footer ul {
  margin-bottom: 0;
  padding:0;
}
.footer li {
  display: inline-block;
  list-style: none;
}

.hover_img a { position:relative; }

.hover_img a span { position:absolute; display:none; z-index:99; }

.hover_img a:hover span { display:block; }

/* --- nav --- */

.navbar {
  width: 100%;
  padding-bottom: 10%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.nav-link {
  padding-left: 0 !important;
  /* color: rgba(0,0,0,0.85) !important; */
  color: rgba(255, 255, 255, 1) !important;
}
.nav-link:hover {
  /* color: rgba(0,0,0,0.85); */
  color: rgba(255, 255, 255, 0.85) !important;
  /* opacity: 0.5; */
}

/* mobile nav css */
@media (max-width: 575px) {
  .mobile-space {
    display: block !important;
  }
  .navbar ul {
    display: block;
    text-align: left;
  }
}

.bottom-nav {
  display: none;
}

@media (max-width: 575px) {
  .side-nav {
    display: none;
  }
  .bottom-nav {
    display: flex;
    font-size: 1.6em;
    width: 100%;
    justify-content: space-around;
  }
}

/* --- home --- */
.cover {
  width: 100%;
}

.header {
  /* font-size: 1.25em; */
  font-size: 1.4em;
  padding-bottom: 5%;
  font-weight: 400;
}

/* --- about --- */

/* --- work -- */

.section {
  padding-bottom: 5%;
}

.row {
  padding-bottom: 5%;
}

.mobile-space {
  display: none;
}

.photo {
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.caption {
  font-size: 0.85em;
  opacity: 0.5;
  text-align: right;
}

.notes {
  text-align: right;
}
